<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <meta content="#7952b3" name="theme-color">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }







    </style>

</head>
<body>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex flex-column bd-highlight mb-3">
                <a class="btn btn-primary btn-sm" href="/" type="button"> Перейти на начальную страницу</a>
            </div>
        </div>
    </div>
</div>
<hr>
<h3>Добавить сущность</h3>
<hr>
<form method="post" action="/admin/items">
    <p> Название <input name="name">
    <p> Год изготовления <input name="yearOfRelease">
        <button name="submit">Submit</button>
</form>
<HR>
<div class="row">
    <div class="row align-items-start">
        <div class="col-sm-2">
            <nav class="navbar navbar-light bg-light">
                <div class="row">
                    <form method="post" action="/admin/items/write">
                        <p>Загрузить данные в файл:</p>
                        <button name="write">Write to file</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-sm-8">
            <h4>Список:</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-sm-4" th:each="item: ${items}">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title"><p th:text="${item.name}"></h6>
                            <p class="card-text" th:text="${'Год изготовления: '+item.yearOfRelease}"></p>
                            <a class="btn btn-primary btn-sm" th:href="${'/admin/items/'+item.id}"
                               type="button">Перейти на страницу сущности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>